@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000; /* Updated background color */
  color: #00DDEE;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion-text {
  text-align: center;
  margin: -1.5rem 0 2rem 0; /* Increased negative top margin to move it up */
  font-size: 1rem;
  color: #a4a4a4; /* Color for the questions */
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #1A1A1A;
  color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  width: 1.5rem; /* Adjust width as needed */
  height: 1.5rem; /* Adjust height as needed */
  background-image: url('/plus.png'); /* Path to your plus image */
  background-size: cover;
}

.accordion-item-header.active::after {
  background-image: url('/minus.png'); /* Path to your minus image */
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  color: #a4a4a4; /* Color for the answers */
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
